.navbar {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
  background-color: #fff;
  align-items: center;
}

.middle-nav {
  flex-grow: 2;
}

.nav {
  display: flex;
  justify-content: space-evenly;
}

.nav .nav-link a {
  color: #333;
}

.nav .nav-link {
  list-style-type: none;
}

.nav .nav-link a,
.logo a,
.cta a {
  text-decoration: none;
}

.logo {
  padding-left: 10px;
  color: black;
  text-transform: uppercase;
  font-size: 20px;
}

.cta {
  padding-right: 10px;
}

.cta a {
  padding: 10px 20px;
  color: white;
  background-color: black;
  border-radius: 5px;
}

.secondary-color {
  color: rgb(34, 207, 121);
}
